/* Colors */
$color-h-f: #00000017;
$primary: #120D31;
$form-index: #42785e;
$color-product: #e1c9c9;

/*Font-family */
$font-principal: 'helvetica', sans-serif;
$font-title: 'Roboto Slab', serif;

/* Spacings */
$spacing-large: 5rem;
$spacing-medium: 2.5rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/* Font-Sizes */
$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;