/*MAIN*/
.container-flex{
  @include flex (row, space-evenly, center);
  flex-wrap: wrap;
  text-align: center;
  font-size: $text-base;
  font-family: $font-title;
  margin-top: 7rem;
  gap: 10px;

  .cardss{

    &__link{
      color: #000;
    }

    &__img{
      width: 200px;
      height: 200px;
      outline: 2px solid gray;
      transition: all .5s;
    }

    &__img:hover{
      outline: 2px solid orange;
      transform: scale(1.1, 1.1);
    }
  }
}

/*SECTION VIDEO*/
.fondo-index{
  background-image: url("../../assets/img/index/Fondos/fondo4.jpg");
  text-align: center;
  font-size: $text-medium;
  font-family: $font-title;
  margin-top: 10rem;
  padding: 3rem;
}
@media screen and (min-width: 1200px) {
  .an-wi{
    width: 800px;
    height: 400px;
    margin: auto;
  }
}

/*FORMULARIO*/
.bg-form{
  background-color: rgba(0,0,0,.03);
}
.title-form{
    text-align: center;
    margin-top: 5rem;
    font-family: $font-title;
    font-size: $text-medium;
    color: $form-index;
}

.container-form{
  .form-controll{
    width: 100%;
    border: none;
    border-radius: 0;
    outline: none;
    border-bottom: 1px solid #42785e;
    display: block;
    padding: 0.75rem;
    background-color: rgba(0,0,0,0);
  }
  
  .form-label{
    font-size: $text-base;
    font-family: $font-title;
    color: $form-index;
  }
  
  .btn-verde{
    background-color: $form-index;
    color: #fff;
    width: 100%;
    padding: .55rem;
    
    &.btn-verde:hover{
      background-color: #ff0000;
    }
  }
}

@media screen and (min-width: 600px) {
  .container-form{
    @include flex (row, space-evenly, center);
    gap: 30px;
  }
  .form-controll{
    font-size: $text-medium;
  }
  .btn-verde{
    margin-top: 3rem;
  }
}

/*FOOTER*/
.footer{
  background-color: $color-h-f;
  
  .container-img{
    text-align: center;
    margin-top: 6rem;
    
    &__logo{
      margin-top: 4rem;
    }
  }

  .container-link-footer{
    text-align: center;
    font-size: $text-medium;

    &__a{
      margin: 0.75rem;
    }

    &__whatsapp:hover{
      color: map-get($redes, whatsapp);
    }

    &__instagram:hover{
      color: map-get($redes, instagram);
    }
  }

  .top{
    color: #000;
    font-weight: bold;
  }
}
